# Python cache
__pycache__/
*.pyc
*.pyo
*.pyd
*.log

# Virtual environments
.venv/
env/
.conda/
.frontshiftai/

# OS
.DS_Store
Thumbs.db

# Models (do not push heavy GGUF/finetuned weights)
models/*.bin
models/*.pt
models/*.safetensors
models/*.gguf
models/*-finetuned-*/

# Infrastructure / Docker
*.env
.env.*
docker-data/

# Local resources
MyResources/

# DVC
data_pipeline/data/raw/
data_pipeline/data/extracted/
data_pipeline/data/cleaned/
data_pipeline/data/vector_db/
.dvc/cache/
.dvc/tmp/