.git
__pycache__
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
final_venv/
.venv/
.mypy_cache/
.ruff_cache/
.pytest_cache/
.vscode/
.idea/
logs/
data_pipeline/logs/
data_pipeline/data/raw/
data_pipeline/data/parsed/
data_pipeline/data/cleaned/
data_pipeline/data/chunked/
data_pipeline/data/validated/
